.ride {
  margin-top: var(--spacing-small);
  padding: var(--spacing-2x-small) var(--spacing-medium);
  background-color: var(--color-neutral-100);
  border-radius: var(--border-radius-medium);
}

.date::before {
  content: "📅 ";
}

.connection::before {
  content: "🚆 ";
}

.time::before {
  content: "⌚ ";
}

.delayed {
  color: var(--color-danger-600);
}

.ticket::before {
  content: "🎫 ";
}
