.group {
  margin-top: var(--spacing-small);
}

.date {
  display: flex;
  align-items: center;
  color: var(--color-neutral-800);
}

.ride {
  margin-bottom: var(--spacing-2x-small);
  padding: var(--spacing-2x-small) var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-neutral-100);
}

.connection::before {
  content: "🚆 ";
}

.time::before {
  content: "⌚ ";
}

.delayed {
  color: var(--color-danger-600);
}

.ticket::before {
  content: "🎫 ";
}
